<div class="banner">
  <div class="container">
    <h1>Do you like <strong>CockTails</strong> ?</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <span><%= link_to 'Add Cocktail', new_cocktail_path, class:"span" %></span>
  </div>
</div>

<% @cocktails.first(3).each do |cocktail| %>
<div class="container-body">
        <div class="container-box">
            <div class="box-project">
                <div class="imgBx">
                    <div class="content">
                        <h3>
                            <%= cocktail.name %>
                        </h3>
                        <div class="op">
                            <button><%= link_to 'Add Cocktail', new_cocktail_path, class:"button" %></button>
                            <button><%= link_to 'Add Cocktail', new_cocktail_path, class:"button" %></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
