<div class="cocktail-body">
    <div class="new-cocktail">
        <h1>Tu aimes les<strong>CockTails</strong> ?</h1>
        <p>Oui ? alors partage avec nous ton cocktail preferer !</p>
        <%= render 'form', cocktail: @cocktail %>
    </div>
</div>


