// Import page-specific CSS files here.
@import "home";

.container {
    text-align: center;
}
.banner {
    background-size: cover;
    background-position: center;
    padding: 210px 0;
  }
  
  .banner h1 {
    padding:20px;
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(255,255,255,0.2);
    font-size: 32px;
    font-weight: bold;
    text-align:center;
  }
  
  .banner p {
    padding:20px;
    font-size: 20px;
    color: white;
    opacity: .9;
    text-shadow: 1px 1px 3px rgba(255,255,255,0.2);
    text-align: center;
  }
  