.container-body {
    margin-top:-210px !important;
    margin:0;
    margin-left:45px !important;
    padding:0;
    display:grid;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh; 
}

.container-box {
    max-width:1000px;
    display: flex;
    margin:50px 0;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box-project {
    position: relative;
    width:400px;
    height:400px;
    margin: 15px;
    background-color: #222;
    border: 1px solid #222;
    box-shadow: 0px 0px 10px 0px #222;
}

.box-project .imgBox {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

.box-project .imgBox  img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.op{
    opacity: 0;
    transition: 0.5s;
}

.content:hover .op {
    opacity: 1;
}
.box-project .content {
    display: flex;
    justify-content: space-around;
    align-items:center;
    position: absolute;
    bottom:20px;
    left:10%;
    width:80%;
    height: 60px;
    background: #fff;
    transition: 0.5s;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}


.box-project .content h3{
    margin:0;
    padding:0;
    font-size: 20px;
}

.box-project .content p{
    margin:10px 0 0;
    padding:0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;
    color:#fff;
}

.box-project .content a{
    margin:10px 0 0;
    padding:0;
    opacity: 0;
    line-height: 1.2em;
    transition: 0.5s;
    text-align: justify;
    color:#fff;
}

.box-project:hover .content p{
    opacity: 1;
    transition-delay: 0.5s;
}

.box-project:hover .content a{
    opacity: 1;
    transition-delay: 0.5s;
}

.bgcolor {
    background-color: #fff;
    border-bottom: 2px solid #222;
}